
<div class="container-fluid mt-3">

  <h3>Image upload trial</h3>

  <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)" >

    <div class="row mt-5 p-3">

      <div class="col-lg-4">
        <label>Enter name :- </label>
        <input class="form-control" formControlName="name" type="text" placeholder="Enter name">
      </div>

      <div class="col-lg-4">
        <label>Enter email :- </label>
        <input class="form-control"  formControlName="email" type="text" placeholder="Enter email">
      </div>

      <div class="col-lg-4">
        <label>See converted code :- </label>
        <input class="form-control"  formControlName="image" type="text">
      </div>

      <div class="col-lg-4">
        <label>Upload Image :- </label>
        <input class="form-control" type="file" placeholder="Upload image" accept="image/*" (change)="imagechanged($event)">
        <!-- image types are many so accept attribute is used to access all image types (*) is used for all types -->
      </div>

      <div class="text-center mt-3">
        <button type="submit" [disabled]="formdata.invalid" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger ms-3" (click)="refresh()">Cancel</button><br><br>
      </div>

    </div>

  </form>


  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Data</h5>

        <table class="table table-striped">

          <thead>
            <tr>
                <th>Actions</th>
                <th>Sr no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Image</th>
                <th>Email</th>
            </tr>
          </thead>

          <tbody *ngIf="datas">
            <tr *ngFor="let data of datas,let i = index">
              <td>
                <div class="d-flex">
                  <button (click)="edit(data._id)" class="btn btn-primary">E</button>
                  <button (click)="delete(data._id)" class="btn btn-danger ms-2">D</button>
                </div>
                <button class="btn btn-sm btn-primary mt-2" (click)="sendemail(data._id)">Send email</button>
              </td>
              <td>{{i+1}}</td>
              <td>{{data.name}}</td>
              <td>{{data.email}}</td>
              <td><img src="{{ api.baseurl +  data.image }}" width="100px" alt=""></td>
              <td><button class="btn  btn-outline-primary" (click)="getemail(data._id)">Send Email</button></td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>

